@page
@model Parauan_Andreea_Raluca_Proiect_MPD.Pages.Proiectul_depus.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proiect_depus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proiect_depus.Proiectul_a_fost_depus" class="control-label"></label>
                <input asp-for="Proiect_depus.Proiectul_a_fost_depus" class="form-control" />
                <span asp-validation-for="Proiect_depus.Proiectul_a_fost_depus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
