@page
@model Parauan_Andreea_Raluca_Proiect_MPD.Pages.Proiecte.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit</h1>
    <p>Aceasta pagina este dedicata gestionarii proiectelor necesare accesarii fondurilor structurale si de coeziune europene</p>
</div>
