@page
@model Parauan_Andreea_Raluca_Proiect_MPD.Pages.Tipul_de_ajutor.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tip_ajutor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tip_ajutor.Tipul_ajutor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tip_ajutor.Tipul_ajutor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tip_ajutor?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
